@import url(fontawesome-all.min.css);


html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#header {
  background-color: #4696e5;
  color: #d1e5f9;
  background-image: url("images/overlay.png"), url("images/pattern-size1.svg");
  background-position: top left, center center;
  background-attachment: fixed, fixed;
  background-size: auto, cover;
  min-height: 100vh;
  min-width: 100vw;
  line-height: 2em;
  font-family: 'Cinzel', serif;
}
p {
  font-family: 'Josefin Sans', sans-serif;
}

.profile {
  max-height: 400px;
  border: 2px solid #d1e5f9;
}
.thumbnails img, .thumbnails2 img {
  height: 60px;
  width: 60px;
  border-radius: 10%;
  border: 1px solid #828282;
}
.inner, .profile, .content, .image, .footer{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content, .footer{
  text-align: center;
}
.inner {
  padding-top: 10%;
}
h2 {  
  font-family: 'Satisfy', cursive !important;
}
li {
  list-style: none;
  font-size: 12px;
}
a {
  color: #ffffff !important;
  text-decoration: none;
  cursor: pointer;
}
.button {
  border-radius: 6px;
  border:  1px solid #d1e5f9;
  padding: 10px;
}

.major p{
  padding: 0 60px;
}
.major, .label{ 
  color: #828282 !important;
}
.liveLink {
  color: black !important;
}

.liveLink:hover {
  text-decoration: underline;
  font-style: italic;
}
.liveLink:visited {
  color: #4696e5;
}
section {
  text-align: center;
  background-color: #fbfbfb;
}
.major, .label, .projects li, .footer {
  padding: 5px;
}

.image img{
  max-width: 250px;
  max-height: 250px;
}

hr {
  background-color: #fbfbfb; 
  display: block;
  height: 1px;
  border: 0;
  width: 80%;
  border-top: 1px solid #d1e5f9;
  margin: 2em auto;
}
.shorthyphen {
  width: 4em;
}
.contact li {
  padding: 5px 0;
}
#footer { 
  background-color: #f7f7f7;
}
/**
#header {
  background-color: #4696e5;
  color: #d1e5f9;
  padding: 4.5em 0 2.5em 0 ;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: block;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-image: url("images/overlay.png"), url("images/pattern-size1.svg");
  background-position: top left, center center;
  background-attachment: fixed, fixed;
  background-size: auto, cover;
  height: 100vh;
  min-height: 35em;
  
}
.profile {
  max-height: 200px;
  border: 2px solid #d1e5f9;
}
.image {
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

.content {
  text-decoration: none;
  text-align: center;
  color: #ffffff !important;
}

li {
  list-style: none;
}
.button {
  background-color: transparent;
  color: #ffffff !important;
  border: 1px solid #d1e5f9;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 2.85em;
  line-height: 2.95em;
  padding: 0 1.75em;
}
*/